# Copier ce fichier en .env.local et remplir les valeurs

SMTP_HOST=mail.votredomaine.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contact@votredomaine.com
SMTP_PASS=votre_mot_de_passe
SMTP_TO=adresse_reception@votredomaine.com
